<div class="nav index">
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
            <a href="/">
                <img src="/res/static/img/logo.jpg" style="width: 110px;height: 85px" alt="青年志愿者协会">
            </a>
                <span style="margin-left: 20px; font-size: 14px;font-weight: bold;"><a href="/index/sig/sig">招新报名</a></span>
                <span id="back" onclick="back()" style="margin-left: 20px; font-size: 14px;font-weight: bold;"><a >后台登陆</a></span>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">

                <li class="layui-nav-item"><a href="/index/about/about">协会介绍</a></li>
                <li class="layui-nav-item"><a href="/index/activity/activity">志愿活动</a></li>
                <li class="layui-nav-item"><a href="/index/wqjc/wqjc">往期精彩</a></li>
                <li class="layui-nav-item"><a href="/index/liuyan/liuyan" >留言</a></li>
            </ul>
        </div>
    </div>
</div>